
<script>
    document.getElementById("order").classList.add("active");
    document.getElementById("submenu-app").classList.add("show");
</script>
<body>
    <div class="container-fluid bg-soft">
        <div class="row">
            <div class="col-12">

                <main class="content">

                    <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark pl-0 pr-2 pb-0">
                        <div class="container-fluid px-0">
                            <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
                                <div class="d-flex">
                                </div>
                                <!-- Navbar links -->
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link pt-1 px-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="media d-flex align-items-center">
                                                @*<img class="user-avatar md-avatar rounded-circle" alt="Image placeholder" src="~/volt-v1.0.1-themesberg/html&css/assets/img/team/profile-picture-3.jpg">*@
                                                <div class="media-body ml-2 text-dark align-items-center d-none d-lg-block">
                                                    <span class="mb-0 font-small font-weight-bold">@Session["Admin"] 管理員模式</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                    <div class="jumbotron">
                        <h1>質押訂單管理</h1>
                    </div>


                    <div class="table-settings mb-4">
                        <div class="row align-items-center justify-content-between">

                            <div class="col col-md-6 col-lg-6 col-xl-6">
                                <form action="@Url.Action("coinorderlist","admin")" method="post">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                                        <input type="text" class="form-control" name="searchString" id="exampleInputIconLeft" placeholder="請輸入Email" aria-label="Search" aria-describedby="basic-addon2">
                                        <select name="status" class="form-select fmxw-200 d-none d-md-inline">
                                            <option selected="selected" value="0">全部</option>
                                            <option value="1">未付款</option>
                                            <option value="2">進行中</option>
                                            <option value="3">取消</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary">查詢<span class="fas fa-search ml-2"></span> </button>
                                    </div>
                                </form>
                                <a class="btn btn-primary" href="@Url.Action("DeleteCancelOrder", "DeleteCancelOrder")" onclick="return confirm('確認清除?')">清除取消狀態訂單<span class="fas fa-broom ml-2"></span> </a>
                            </div>

                        </div>

                        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>選項</th>
                                        <th>訂單狀態</th>
                                        <th>方案名稱</th>
                                        <th>申購時間</th>
                                        <th>客戶</th>
                                        <th>付款金額</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Item -->
                                    @foreach (var item in ViewBag.SelectOrderlist)
                                    {
                                        <tr>

                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="icon icon-sm">
                                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                                        </span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        @if (item.Order_Status == "未付款")
                                                        {
                                                            <a class="dropdown-item text-success" href="@Url.Action("checkcoinorder","order")?orderguid=@item.Order_Guid"><span class="fas fa-check mr-2"></span>訂單審核</a>
                                                            <a class="dropdown-item text-danger" href="@Url.Action("deletecoinorder","order")?orderguid=@item.Order_Guid" onclick="return confirm('確認刪除訂單?')"><span class="fas fa-trash-alt mr-2"></span>刪除訂單</a>
                                                        }
                                                    </div>
                                                </div>
                                            </td>

                                            @if (item.Order_Status == "未付款")
                                            {
                                                <td>
                                                    <span class="font-weight-bold text-danger">@item.Order_Status</span>
                                                </td>
                                            }
                                            else if (item.Order_Status == "通過")
                                            {
                                                <td>
                                                    <span class="font-weight-bold text-warning">@item.Order_Status</span>
                                                </td>
                                            }
                                            else if (item.Order_Status == "已結算")
                                            {
                                                <td>
                                                    <span class="font-weight-bold text-success">@item.Order_Status</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="font-weight-bold text-gray">@item.Order_Status</span>
                                                </td>
                                            }
                                            <td>
                                                <span class="font-weight-normal">@item.Coin.Name</span>
                                            </td>
                                            <td>
                                                <span class="font-weight-normal">@item.Buy_Date</span>
                                            </td>
                                            <td>
                                                <span class="font-weight-bold">@item.Email</span>
                                            </td>
                                            <td>
                                                <span class="font-weight-bold">@item.Buy_Price x @item.Buy_Amount = <span class="font-weight-bold text-success">$ @item.Total</span></span>
                                            </td>
                                            <td>
                                                <small>@item.Order_Guid.Substring(0, 8)</small>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
